[submodule "lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
  branch = master
[submodule "lib/protobuf"]
	path = lib/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "projects/nuc_eth_listener/sailbot-msg"]
	path = projects/nuc_eth_listener/sailbot-msg
	url = git@github.com:UBCSailbot/sailbot-msg.git
[submodule "projects/bbb_canbus_listener/uccm-sensors"]
	path = projects/bbb_canbus_listener/uccm-sensors
	url = git@github.com:UBCSailbot/uccm-sensors.git
