build
cmake-build-debug
data
extra
*.pyc
.local.vimrc
.clangd
compile_commands.json

# JetBrains IDEs
.idea

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS
.DS_Store

#.json files
frame_ids.json

# Test logs
scripts/ctrl_data_logging/*.log
projects/land_satellite_listener/*.log
