[submodule "lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
  branch = master
[submodule "lib/protobuf"]
	path = lib/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
