[Unit]
Description=nt_server
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Restart=on-failure
RestartSec=3s
ExecStart=/bin/bash -c '\
export WANDB_MODE=offline &&\
source /opt/ros/melodic/setup.bash &&\
source /opt/ros/melodic/setup.sh &&\
source /home/raye/catkin_ws/devel/setup.sh &&\
source /home/raye/catkin_ws/devel/setup.bash &&\
/opt/ros/melodic/bin/roslaunch local_pathfinding main_loop_and_interface.launch land_mass_file:=land_masses/olympic_peninsula_depth_50m.csv,vancouver_island_depth_50m.csv'

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
