[Unit]
Description=nt_server
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Restart=on-failure
RestartSec=3s
ExecStart=/bin/bash -c '\
source /opt/ros/melodic/setup.bash &&\
source /opt/ros/melodic/setup.sh &&\
source /home/raye/catkin_ws/devel/setup.sh &&\
source /home/raye/catkin_ws/devel/setup.bash &&\
/opt/ros/melodic/bin/roscore'

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
