[Unit]
Description=nt_server
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Restart=on-failure
RestartSec=3s
ExecStart=/home/debian/network-table/build/bin/network_table_server

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
